@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
  box-sizing: border-box;
}

/*Body*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #3a3a3a;
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: white;
}

/*Header*/
header {
  text-align: left;
  background-color: white;
  position: fixed;
  top: 0;
  padding: 0 1rem;
  z-index: 99;
  width: 100%;
  max-width: 1080px;
  box-shadow: 0 2px 2px white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #D4A373;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 1;
}

.text-test {
  display: inline-block;
  position: relative;
  padding: 2rem;
}

.text-test h1 {
  font-size: 2rem;
}

.text-test h2 {
  font-size: 1.5rem;
  font-style: italic;
}

.text-test p {
  font-size: 1rem;
}

/*Menu*/
#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
  background-color: white;
  margin: 0;
  padding: 0px;
  position: relative;
  top: 0px;
  right: 0px;
}

#menu li {
  float: none;
  margin-bottom: 10px;
  display: inline-block;
}

#menu>li {
  margin-bottom: 1em;
}

#menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
}

#menu li a:hover {
  background-color: #D4A373;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.menu-toggle::after {
  content: "\2630";
}

/* Navbar styles */

nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
  margin-top: 0;
}

/* Nav Bar toggle */
#nav-toggle:checked~nav {
  display: block;
}

.nav-toggle-label {
  font-size: 2rem;
}

#nav-toggle {
  display: none;
}

/* Home page images */
.image-with-text {
  position: relative;
  width: 100%;
}

.image-with-text img {
  width: 100%;
  display: block;
  padding-top: 0rem;
}

.image-with-text .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-with-text .text h1,
.image-with-text .text h2,
.image-with-text .text p {
  margin: 0;
  text-align: center;
}


.text-explanation p {
  text-align: center;
}

.video-container video {
  max-width: 100%;
  height: auto;
}



/* The Table */
table,
th,
td {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}

/* Map/Location */
.map {
  width: 80%;
}

section {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

p {
  line-height: 1.6;
}

h2 {
  text-align: center;
}

/*Signup Form*/
.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 40%;
  padding-bottom: 45%;
}

.form {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(17, 18, 20, 0.2);
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.title {
  font-size: 50px;
  margin-bottom: 40px;
}

/* Style the inputs for forms */

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 2px solid #a9adb7;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

/* Styling text labels */

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #696d73;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #D4A373;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #D4A373;
  transform: translateY(-2px);
}

.input:focus+.label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #D4A373;
}

.input:focus {
  border: 2px solid #D4A373;
}

.input:not(:placeholder-shown)+.label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

/* Hide the placeholder texts (a) */

::placeholder {
  color: transparent;
}

/*Footer*/
footer {
  margin-top: auto;
  text-align: center;
  background-color: #D4A373;
  width: 100%;
  bottom: 0px;
}

/*Social-Networks*/
#social-networks {
  list-style-type: none;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

#social-networks li {
  display: inline;
  margin: 0 10px;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #E9EDC9;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  #menu {
    display: flex;
    flex-direction: column;
  }

  /* Adjust the padding and margins for better spacing */
  #menu li a {
    padding: 5px 20px;
    margin-right: 10px;
  }

  .form {
    width: 100%; 
    max-width: 300px;
  }

  .inputContainer {
    position: relative;
    height: 45px;
    width: 100%; 
    margin-bottom: 17px;
  }

  .submitBtn {
    width: 100%; 
  }

  .text-explanation {
    text-align: center;
  }
  
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu>li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
}