@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Body*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #3a3a3a;
  font-family: 'Hind Siliguri', sans-serif;
}

/*Logo*/
#logo {
  text-decoration: none;
}

/*Subtitle*/
#subtitle {
  font-size: 18px;
  text-align: left;
  font-family: "Pacifico", cursive;
  font-style: italic;
}

/*Header*/
header {
  text-align: left;
  background-color: #E9EDC9;
  position: fixed;
  padding: 0 1rem;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #D4A373;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #D4A373;
}

main {
  background-color: #FEFAE0;
  flex: 1 0 auto;
  margin-top: 100px;
}

/*Menu*/
#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position:relative;
  top: 0;
  right: 0;
}

#menu li {
  float: right;
  margin: 0 20px;
  display: block;
}

#menu > li {
  margin-bottom: 1em;
}

#menu li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
}

#menu li a:hover {
  background-color: #ddd;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.menu-toggle::after {
  content: "\2630";
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

#nav-toggle:checked ~ #nav {
  display: block;
}

nav-toggle {
  display: none;
}

/*Footer*/
footer {
  margin-top: auto;
  text-align: center;
  background-color: #D4A373;
}

/*Social-Networks*/
#social-networks {
  list-style-type: none;
  padding: 20 px 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

#social-networks li {
  display: inline;
  margin: 0 10px;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #E9EDC9;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  main {
    margin-top: 200px;
  }
}
  
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px){
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
}
  